<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="main-content">
                <div class="upper-content d-flex justify-content-between">
                    <h1 class="address-heading"> Add New Address</h1>
                    <img class="close-icon" src="../../../../../../../assets/icon-images/xicon.svg"/>

                </div>

                <div class="body">
                    <div class="mb-3">
                        <!-- <label for="exampleFormControlInput1" class="form-label">Area</label> -->
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Area Name">
                      </div>
                      <div class="mb-3">
                        <!-- <label for="exampleFormControlInput1" class="form-label">Email address</label> -->
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Street Name">
                      </div>
                      <div class="mb-3">
                        <!-- <label for="exampleFormControlInput1" class="form-label">Email address</label> -->
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Building Number">
                      </div>
                      <div class="mb-3">
                        <!-- <label for="exampleFormControlInput1" class="form-label">Email address</label> -->
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Floor Number">
                      </div>
                      <div class="mb-3">
                        <!-- <label for="exampleFormControlInput1" class="form-label">Email address</label> -->
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Appartment Number">
                      </div>
                      <div class="mb-3">
                        <!-- <label for="exampleFormControlInput1" class="form-label">Email address</label> -->
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Land Mark">
                      </div>

                      <div class="btn-container d-flex justify-content-between">
                        <button class="btn map-btn">
                            View Map
                        </button>
                        <button class="btn address-btn">
                            Save Address
                        </button>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>