<div class="row">
    <div class="col-md-12">
        <div class="box-container d-flex justify-content-between">
    <div class="left-content d-flex">
        <img class="fav-img" src="../../../../../../assets/hand.png"/>
       
       <div class="inner-content flex-column">
        <h4 class="first-heading">
            Service Name
        </h4>
        <h4 class="s-heading">
            240 SAR
        </h4>
        <h4 class="first-heading third-heading">
            <img src="../../../../../../assets/icon-images/star-rate.svg">
            <img src="../../../../../../assets/icon-images/star-rate.svg">

            <img src="../../../../../../assets/icon-images/star-rate.svg">

            <img src="../../../../../../assets/icon-images/star-rate.svg">

        </h4>
       </div>
     

    </div>       
    <div class="right-content ">
        <button class="btn remove-btn">Remove</button>
    </div>     
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box-container d-flex justify-content-between">
    <div class="left-content d-flex">
        <img class="fav-img" src="../../../../../../assets/hand.png"/>
       
       <div class="inner-content flex-column">
        <h4 class="first-heading">
            Service Name
        </h4>
        <h4 class="s-heading">
            240 SAR
        </h4>
        <h4 class="first-heading third-heading">
            <img src="../../../../../../assets/icon-images/star-rate.svg">
            <img src="../../../../../../assets/icon-images/star-rate.svg">

            <img src="../../../../../../assets/icon-images/star-rate.svg">

            <img src="../../../../../../assets/icon-images/star-rate.svg">

        </h4>
       </div>
     

    </div>       
    <div class="right-content ">
        <button class="btn remove-btn">Remove</button>
    </div>     
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box-container d-flex justify-content-between">
    <div class="left-content d-flex">
        <img class="fav-img" src="../../../../../../assets/hand.png"/>
       
       <div class="inner-content flex-column">
        <h4 class="first-heading">
            Service Name
        </h4>
        <h4 class="s-heading">
            240 SAR
        </h4>
        <h4 class="first-heading third-heading">
            <img src="../../../../../../assets/icon-images/star-rate.svg">
            <img src="../../../../../../assets/icon-images/star-rate.svg">

            <img src="../../../../../../assets/icon-images/star-rate.svg">

            <img src="../../../../../../assets/icon-images/star-rate.svg">

        </h4>
       </div>
     

    </div>       
    <div class="right-content ">
        <button class="btn remove-btn">Remove</button>
    </div>     
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box-container d-flex justify-content-between">
    <div class="left-content d-flex">
        <img class="fav-img" src="../../../../../../assets/hand.png"/>
       
       <div class="inner-content flex-column">
        <h4 class="first-heading">
            Service Name
        </h4>
        <h4 class="s-heading">
            240 SAR
        </h4>
        <h4 class="first-heading third-heading">
            <img src="../../../../../../assets/icon-images/star-rate.svg">
            <img src="../../../../../../assets/icon-images/star-rate.svg">

            <img src="../../../../../../assets/icon-images/star-rate.svg">

            <img src="../../../../../../assets/icon-images/star-rate.svg">

        </h4>
       </div>
     

    </div>       
    <div class="right-content ">
        <button class="btn remove-btn">Remove</button>
    </div>     
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box-container d-flex justify-content-between">
    <div class="left-content d-flex">
        <img class="fav-img" src="../../../../../../assets/hand.png"/>
       
       <div class="inner-content flex-column">
        <h4 class="first-heading">
            Service Name
        </h4>
        <h4 class="s-heading">
            240 SAR
        </h4>
        <h4 class="first-heading third-heading">
            <img src="../../../../../../assets/icon-images/star-rate.svg">
            <img src="../../../../../../assets/icon-images/star-rate.svg">

            <img src="../../../../../../assets/icon-images/star-rate.svg">

            <img src="../../../../../../assets/icon-images/star-rate.svg">

        </h4>
       </div>
     

    </div>       
    <div class="right-content ">
        <button class="btn remove-btn">Remove</button>
    </div>     
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box-container d-flex justify-content-between">
    <div class="left-content d-flex">
        <img class="fav-img" src="../../../../../../assets/hand.png"/>
       
       <div class="inner-content flex-column">
        <h4 class="first-heading">
            Service Name
        </h4>
        <h4 class="s-heading">
            240 SAR
        </h4>
        <h4 class="first-heading third-heading">
            <img src="../../../../../../assets/icon-images/star-rate.svg">
            <img src="../../../../../../assets/icon-images/star-rate.svg">

            <img src="../../../../../../assets/icon-images/star-rate.svg">

            <img src="../../../../../../assets/icon-images/star-rate.svg">

        </h4>
       </div>
     

    </div>       
    <div class="right-content ">
        <button class="btn remove-btn">Remove</button>
    </div>     
        </div>

    </div>
</div>