<div class="row">
    <h1 class="main-heading">My Purchase/ Order Details</h1>

    <div class="col-md-5 order-pending-container container-one">
        <div class="d-flex justify-content-between">
            <h4 class="id">ID:15550454</h4>

            <div class="d-flex">
                <span class="dot"></span>
                <h3> Pending </h3>
                

            </div>
           
        </div>
        <hr>

        <div class="down-content d-flex justify-content-between">
            <div class="right-one d-flex">
                <img src="../../../../../../../assets/beauty-girl.png">
                <h3 class="salon-name">Salon Name</h3>
            </div>

            <img style="width: 30px; height:30px" src="../../../../../../../assets/phone.png">
        </div>
        <div class="down-content d-flex justify-content-between">
            <div class="right-one d-flex">
                <h3 class="product-name"> 3 Products-1 Gift card</h3>
            </div>
            <h4 class="pricing"><span class="sar-no">600</span> SAR</h4>
        </div>

        <hr>
        <div class="btn-container text-center">
            <button class="btn btn-cancel">Cancel Order</button>
        </div>
    </div>

    <div class="col-md-6 order-pending-container">
        <div class="d-flex justify-content-between">
            <h4 class="product-head">Product <span class="pending-head">(pending)</span></h4>

            <div class="d-flex">
                <h4 class="pricing"><span class="sar-no">600</span> SAR</h4>
                

            </div>
           
        </div>
        <hr>

        <div class="down-content d-flex justify-content-between">
            <div class="right-one d-flex">
                <img src="../../../../../../../assets/beauty-girl.png">
                <div class="">
                    <h3 class="salon-name">Salon Name</h3>
                    <p class="minute-price">350 m - 100 SR</p>

                </div>            </div>
            

            <img style="width: 30px; height:30px" src="../../../../../../../assets/icon-images/xclose.svg">
        </div>
        <div class="down-content d-flex justify-content-between">
            <div class="right-one d-flex">
                <img src="../../../../../../../assets/beauty-girl.png">
                <div class="">
                    <h3 class="salon-name">Salon Name</h3>
                    <p class="minute-price">350 m - 100 SR</p>

                </div>
            </div>
            

            <img style="width: 30px; height:30px" src="../../../../../../../assets/icon-images/xclose.svg">
        </div>
        <div class="down-content d-flex justify-content-between">
            <div class="right-one d-flex">
                <img src="../../../../../../../assets/beauty-girl.png">
                <div class="">
                    <h3 class="salon-name">Salon Name</h3>
                    <p class="minute-price">350 m - 100 SR</p>

                </div>            </div>
            

            <img style="width: 30px; height:30px" src="../../../../../../../assets/icon-images/xclose.svg">
        </div>
        <!-- <div class="down-content d-flex justify-content-between">
            <div class="right-one d-flex">
                <h3 class="product-name"> 3 Products-1 Gift card</h3>
            </div>
            <h4 class="pricing"><span class="sar-no">600</span> SAR</h4>
        </div> -->

        <hr>
        <div class="btn-container d-flex justify-content-end">
            <button class="btn btn-cancel">Cancel all Products</button>
        </div>
    </div>
</div>

<div class="row">

  <div class="col-md-5">

  </div>

    <div class="col-md-6 order-pending-container gift-card-container">
        <div class="d-flex justify-content-between">
            <h4 class="product-head">Silver Card <span class="done-head done-head">(done)</span></h4>

            <div class="d-flex">
                <h4 class="pricing"><span class="sar-no">600</span> SAR</h4>
                

            </div>
           
        </div>
        <hr class="green-border">

        <div class="down-content d-flex justify-content-between">
            <div class="right-one d-flex">
                <div class="">
                    <p class="first-text">
                        70 minutes, Valid for 1 year
                    </p>
                    <p class="second-text">
                        Available to you now, you can use it to pay
                                        </p>

                </div>            </div>
            

        </div>
     
        <!-- <div class="down-content d-flex justify-content-between">
            <div class="right-one d-flex">
                <h3 class="product-name"> 3 Products-1 Gift card</h3>
            </div>
            <h4 class="pricing"><span class="sar-no">600</span> SAR</h4>
        </div> -->

        <hr>
        <div class="btn-container d-flex justify-content-end">
            <button class="btn btn-cancel">Cancel Gift Card</button>
        </div>
    </div>
</div>