* {
    font-family: Poppins;
    padding-bottom: 9px;
  }
  body {
    background-color: #f2f4f7;
    overflow-x: hidden;
  }
  .signup-container {
    background-color: #fff;
    width: 456px;
    height: 457px;
    border-radius: 16px;
    opacity: 1;
    /* position: relative;
  top:70px;
  left:300px; */
    margin-top: 65px;
  }
  
  .signup {
    height: 100%;
    width: 100%;
  }
  
  .signup-heading {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
      var(--unnamed-font-size-34) / var(--unnamed-line-spacing-41)
      var(--unnamed-font-family-rubik);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-1b1d1f);
    text-align: left;
    font-family: poppins;
    font-weight: bold;
    letter-spacing: 0px;
    color: #1b1d1f;
    opacity: 1;
    padding-top: 20px;
    padding-left: 60px;
    font-size: 25px;
    margin-top: 20px !important;
}
  
  
  .second-signup-heading {
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
      var(--unnamed-line-spacing-21) var(--unnamed-font-family-rubik);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-3c3c4399);
    text-align: left;
    font-family: Rubik;
    font-weight: bold;
    letter-spacing: 0px;
    color: #3c3c4399;
    opacity: 1;
    padding-left: 60px;
    font-size: 16px;
  }
  .country-container {
    width: 328px;
    height: 44px;
  }
  
  .signup-btn {
    background: var(--unnamed-color-111c4e) 0% 0% no-repeat padding-box;
    background: #111c4e 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    color: #fff;
    width: 328px;
    height: 48px;
  }
  ::placeholder {
    letter-spacing: 0px;
    color: #77797a;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  .login-container {
    font: normal normal normal 13px/18px Rubik;
    letter-spacing: 0px;
    color: #3c3c4399;
    margin-left: 12px;
  }
  
  .form-control{
      background-color: #F2F4F7;
      margin-top: -23px;

  
  }
  .dropdown-toggle::after{
      display: none;
  }
  
  .login-link{
      letter-spacing: 0px;
  color: #1D1D1D;
  text-decoration: none;
  font-size: 13px;

  
  }

  .signup-heading {

    padding-top: 30px;
    padding-left: 50px;
    margin-top: -12px !important;
}

.second-signup-heading{
    margin-bottom: 30px !important;
}

.horizontal-divider{
    background-color: #F2F4F7;
    width:320px;
    margin-left: 53px;

}

.verification-heading{
    font-size: 28px;
    margin-left: 53px;
    margin-top: -19px;
    font-family: Rubik;
    font-weight: bold;


}


.verification-paragraph{
    margin-left: 55px;
    font-size: 13px;
    color:#000000;
    margin-top: -21px;
    font-size: 13px;
    letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-000000);
text-align: left;
letter-spacing: 0px;
color: #000000;
opacity: 1;
font-weight: bold;
}

.form-control{
    border: 1px solid #B9BABD;
border-radius: 24px;
opacity: 1;
height:64px;
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 2px solid #2A2A2A;
}

.get-again-container{
  margin-left: 90px;
  margin-top: -30px;

}

.get-again-paragraph{
  font-size: 15px;
  color:grey;
}

.get-again-link{
  text-decoration: none;
  font-size: 15px;
  color:#1D1D1DF0;

}
.change-number-container{
  margin-top:-19px;
  margin-left:50px;

}

.change-number-link{
  text-decoration: none;
  color: #1D1D1DF0;
opacity: 1;

}

#verification-page{
  background-color: #F2F4F7;
  height: 100%;;
}

.signup-btn{

  font-size: 16px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-rubik);
color: var(--unnamed-color-ffffff);
font-family: Rubik;
font-weight: normal;
letter-spacing: 0.15px;
color: #FFFFFF;
opacity: 1;
font-size: 18px;
}
@media (max-width: 575.98px) { 

  input{
    width:25% !important;
    height: 25%;
    border-radius: 50%;
    margin-bottom: 9px;

  }

  .mb-3{
    display: flex;
    justify-content: center;
  }

  .signup-container{
  padding-bottom: 30px;
  height: 650px;
  }
 }