<section id="time-slot">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="employee-container">
          <h2 class="select-empployee" style="direction: rtl">أختار موظف</h2>
          <select
            class="form-select"
            style="direction: rtl"
            aria-label="Default select example"
          >
            <option selected>أختر موظف</option>
            <option value="1" *ngFor="let employee of emp">
              {{ employee.NameEn }}
            </option>
          </select>
        </div>

        <div class="col-md-12 mt-4">
          <app-carousel
            (itemClicked)="onItemClicked($event)"
            [data]="currentMonthObj"
          ></app-carousel>
        </div>

      </div>
    </div>

            <div class="hour-slot row">
          <h1 class="time-slot-heading" style="direction: rtl">
            أختار وقت الخدمه
          </h1>
          <!-- <div class="slot-container col-md-8 d-flex justify-content-center" style="width:80%">
            <div
              class="date-hour-container d-flex justify-content-between d-column"
              style="width: 70%;"
              *ngFor="let d of dateHour.SingleHourSlots; let i = index"
            >
              <button style="padding: 20px; margin-left: 5px" class="date-h">
                {{ d.Hour }}
              </button>
            </div>
          </div> -->

   <owl-carousel-o>
  <ng-template carouselSlide *ngFor="let d of dateHour.SingleHourSlots; let i = index">

        <h3 (click)="dataX($event)" style="padding: 20px;" class="date-h">
                {{ d.Time }}
              </h3>
  </ng-template>
</owl-carousel-o>
        </div>

        <div class="d-flex justify-content-center">
          <button (click)="addNewServices(data)" class="btn btn-continue">استمرار</button>
        </div>
  </div>
</section>
