<div class="row">
    <h1 class="payment-heading">Payment</h1>
    <h1 class="transaction">Transaction</h1>
    <h3 class="date">2024 Jan</h3>


    <div class="box-content">
        <h4 class="cache-back">Cache Back</h4>
        <h3 class="money">14.85</h3>
        <h5 class="color">#17108</h5>

    </div>
    
    <div class="box-content">
        <h4 class="cache-back">Cache Back</h4>
        <h3 class="money">14.85</h3>
        <h5 class="color">#17108</h5>

    </div>
    
    <div class="box-content">
        <h4 class="cache-back">Cache Back</h4>
        <h3 class="money">14.85</h3>
        <h5 class="color">#17108</h5>

    </div>
    
    <div class="box-content">
        <h4 class="cache-back">Cache Back</h4>
        <h3 class="money">14.85</h3>
        <h5 class="color">#17108</h5>

    </div>
</div>