.container,.m-row{
    background-color: #fff !important;
}
.navbar-nav{
    text-align: center;
    margin-left: 150px;
}

.nav-link{
    
}

ul:nth-child(2),ul:nth-child(3),ul:nth-child(4){
    margin-right: 15px;

}

.second-item,.third-item,.forth-item{
    margin-left: 15px;

}

.man-login{
    width:20px;
    height:20px;
}
.language{
    font-size: 14px;
    color:#828894;
    margin-top: 4px;
}



 @media (max-width: 991.98px) { 
    .main-nav-form{
        display: flex;
        justify-content: center;
        margin-left: 160px;
    } 
    .middle-nav{
        margin-left: 45px;

    }
  }
  @media (max-width: 767.98px) { 
    .navbar-nav{
        text-align: center;
        margin-left: 0px;
    }
    .main-nav-form{
        display: flex;
        justify-content: center;
        margin-left: 185px;
    }
    .second-item,.third-item,.forth-item{
        margin-left: 0px;
    
    }
    .ul-right-nav{
        margin-right: 200px;
    }

 }