<div class="container d-flex justify-content-center">

    <div class="row s-details-container">
        <div class="col-md-12">
            <div class="upper-box d-flex justify-content-between">
                <h1 class="details-heading">Purchase Gift Card</h1>
                <img src="../../../../../../../assets/icon-images/close.png">
            </div>
    
            <div class="down-box">
                <div class="first-content">
                    <div class="form-check">

                        <h2 class="secondary-heading">Who would you like to gift?</h2>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Hair cut</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                      </div>
       
             
                </div>
                <div class="input-content">
                    <form>
                        <div class="mb-3">
                          <input type="text" placeholder="Name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                          <input placeholder="email" type="email" class="form-control" id="exampleInputPassword1">
                        </div>

                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                            <label for="floatingTextarea2">Comments</label>
                          </div>
                    
                      </form>
                </div>
          

                <div class="input-content">
                    <h2 class="secondary-heading">Your details for the receipt</h2>

                    <form>
                        <div class="mb-3">
                          <input type="text" placeholder="Your Name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                          <input placeholder="email" aria-placeholder="Your Email" type="email" class="form-control" id="exampleInputPassword1">
                        </div>

                   
                    
                      </form>
                </div>
          
            </div>
    
            <div class="btn-container d-flex justify-content-between">
                <div class="right-content">
                    <h1 class="total-price"> Total 200 SAR</h1>


                </div>
           <button class="btn">Book</button>
        </div>
    </div>
    </div>
    