<div style="direction:ltr" class="redeem-point-container">
    <div class="upper-redeem d-flex justify-content-between">
        <h1 class="redeem-heading">Redeem Points</h1>
        <img src="../../../../../../assets/icon-images/xclose.svg">
    </div>


    <hr>
    <div class="reddem-calculations d-flex justify-content-between">
        <div class="right-content d-flex flex-column">
            <h1 class="point-no">1,000  <span>point</span></h1>
            <p class="exp-date">Expirt : 25-1-2023</p>
        </div>
        <div class="left-content">
            <h1 class="point-price">20.00 <br/> <span>SR</span></h1>
        </div>
    </div>
    <div class="down-redeem d-flex justify-content-between">
        <h3 class="copy-text">Copy Code To Use In The Promo Code</h3>
        <button class="btn btn-copy"> Copy Code</button>
    </div>
    <hr>
    <div class="reddem-calculations  redeem-two d-flex justify-content-between">
        <div class="right-content d-flex flex-column">
            <h1 class="point-no">1,000  <span>point</span></h1>
            <p class="exp-date">Expirt : 25-1-2023</p>
        </div>
        <div class="left-content">
            <h1 class="point-price">20.00 <br/> <span>SR</span></h1>
        </div>
    </div>
    <div class="down-redeem d-flex justify-content-between">
        <h3 class="copy-text">Copy Code To Use In The Promo Code</h3>
        <button class="btn btn-copy"> Copy Code</button>
    </div>
    <hr>
    <div class="reddem-calculations redeem-three d-flex justify-content-between">
        <div class="right-content d-flex flex-column">
            <h1 class="point-no">1,000  <span>point</span></h1>
            <p class="exp-date">Expirt : 25-1-2023</p>
        </div>
        <div class="left-content">
            <h1 class="point-price">20.00 <br/> <span>SR</span></h1>
        </div>
    </div>
    <div class="down-redeem d-flex justify-content-between">
        <h3 class="copy-text">Copy Code To Use In The Promo Code</h3>
        <button class="btn btn-copy"> Copy Code</button>
    </div>
    
</div>