<div class="container d-flex justify-content-center">

    <div class="row s-details-container">
        <div class="col-md-12">
            <div class="upper-box d-flex justify-content-between">
                <h1 class="details-heading">Your Booking</h1>
                <img src="../../../../../../../assets/icon-images/close.png">
            </div>
    
            <div class="down-box">
                <div class="first-content">
                    <h4 class="content-heading">Extra Option</h4>
                <div class="opt-container">
                    <div class="select-service d-flex justify-content-between">
                        <div class="right-service">
                            <div class="form-check">
                                <img src=""/>
                                <label class="form-check-label" for="defaultCheck1">
                                    Karantina, Jeddah<br/>
                                      <!-- <img src="../../../../../../../assets/icon-images/clock.svg"> 40 m  -->
                                </label>
                              </div>
                        </div>
                        <div class="left-service">
                            <a class="change" href="#">Change</a>
                            
                            
                        </div>

                      </div>
                      <hr/>

                      <div class="service-upper d-flex justify-content-between">
                        <h4 class="services-heading">Services</h4>
                        <a href="#" class="change add-service" >Add Service</a>

                      </div>
                </div>
                <div class="opt-container">
                    <div class="select-service d-flex justify-content-between">
                        <div class="right-service">
                            <div class="form-check">
                                <label class="form-check-label" for="defaultCheck1">
                                    Add Glitter<br/>
                                     150 SAR | <img src="../../../../../../../assets/icon-images/clock.svg"> 40 m 
                                </label>
                              </div>
                        </div>
                        <div class="left-service">
                            <a class="change" href="#">remove</a>

                            
                   
                        </div>

                      </div>

                </div>
          
                <div class="opt-container">
                    <div class="select-service d-flex justify-content-between">
                        <div class="right-service">
                            <div class="form-check">
                                <label class="form-check-label" for="defaultCheck1">
                                    Add Glitter<br/>
                                     150 SAR | <img src="../../../../../../../assets/icon-images/clock.svg"> 40 m 
                                </label>
                              </div>
                        </div>
                        <div class="left-service">
                            <a class="change" href="#">remove</a>

                            
                   
                        </div>

                      </div>

                </div>
                <div class="opt-container">
                    <div class="select-service d-flex justify-content-between">
                        <div class="right-service">
                            <div class="form-check">
                                <label class="form-check-label" for="defaultCheck1">
                                    Add Glitter<br/>
                                     150 SAR | <img src="../../../../../../../assets/icon-images/clock.svg"> 40 m 
                                </label>
                              </div>
                        </div>
                        <div class="left-service">
                            <a class="change" href="#">remove</a>

                            
                   
                        </div>

                      </div>

                </div>
                </div>
          
            </div>
    
            <div class="btn-container d-flex justify-content-between">
                <div class="right-content">
                    <h1 class="total-price"> Total 200 SAR</h1>


                </div>
           <button class="btn">Continue</button>
        </div>
    </div>
    </div>
    