
<section id="All-one">
    <section id="man-woman-card">
        <div class="container">
            <div class="row row-x">
                <div class="col-md-12">
                    <div class="d-flex  upper-content-ones justify-content-between">
                        <h1>
        
                        </h1>
                        <img src="../../../../../../../assets/x-ones.png"/>
                        
                    </div>
        
        
        
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-12">
                    <div class="main-content d-flex justify-content-center">
                        <h1 class="main-heading">Welcome</h1>
    
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="at d-flex justify-content-center">at</h5>
    
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="salon d-flex justify-content-center">file and Style Salon</h5>
    
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="type d-flex justify-content-center">Choose Type</h5>
    
                        </div>
                    </div>
                    <div class="row">
                        <div   class="col-md-12 d-flex justify-content-center">
                       <div class="for-woman d-flex flex-column">
                        <img   (click)="onClickDefault()"[@enabledStateChange]="stateOfElementOne?'default':'disabled'" src="../../../../../../../assets/nada.png" class="img-one ">
                        <p class="woamn-p">For Woman</p>
                       </div>
                       <div class="for-woman d-flex flex-column">
                        <img (click)="onClickDefault3()"[@enabledStateChange]="stateOfElementThree?'default':'disabled'"   src="../../../../../../../assets/mida.png" class="img-one ">
                        <p class="woamn-p">For Men</p>
                       </div>
                       <div class="for-woman d-flex flex-column">
                        <img   (click)="onClickDefault2()"[@enabledStateChange]="stateOfElementTwo?'default':'disabled'" src="../../../../../../../assets/koka.png" class="img-one ">
                        <p class="woamn-p">For Kids</p>
                       </div>
    
    
    
    
                        </div>
                        
                       <p class="main-photo-paragraph">
                        You can change your type later
                       </p>
    
                    </div>
                </div>
            </div>
         
        </div>
        
    </section>
</section>
