<div class="row">
<div class="col-md-12">
    <div class="d-flex justify-content-between">
        <h1 class="heading">My Address</h1>
        <button class="btn add-btn"><img src="../../../../../../assets/icon-images/plus-icon.svg"> Add New Addreess</button>
    </div>
</div>


</div>

<div class="row">
    <div class="col-md-10 d-flex justify-content-between  box-container">
       <div class="">
        <h1 class="home">Home</h1>
        <p class="paragraph">Karantina, Jeddah, Saudi Arabia</p>
        <p class="sec-paragraph">Elnasr Street, apartment 5B, 3td floor, flat no:5</p>
        <p class="third-paragraph">+966 418 342 65</p>
       </div>

       <div class="left-content d-flex">
        <button class="btn delete-btn">Delete</button>
        <button class="btn edit-btn">Edit</button>
       </div>
    
    </div>
</div>

<div class="row">
    <div class="col-md-10 d-flex justify-content-between  box-container">
       <div class="">
        <h1 class="home">Home</h1>
        <p class="paragraph">Karantina, Jeddah, Saudi Arabia</p>
        <p class="sec-paragraph">Elnasr Street, apartment 5B, 3td floor, flat no:5</p>
        <p class="third-paragraph">+966 418 342 65</p>
       </div>

       <div class="left-content d-flex">
        <button class="btn delete-btn">Delete</button>
        <button class="btn edit-btn">Edit</button>
       </div>
    
    </div>
</div>

<div class="row">
    <div class="col-md-10 d-flex justify-content-between  box-container">
       <div class="">
        <h1 class="home">Home</h1>
        <p class="paragraph">Karantina, Jeddah, Saudi Arabia</p>
        <p class="sec-paragraph">Elnasr Street, apartment 5B, 3td floor, flat no:5</p>
        <p class="third-paragraph">+966 418 342 65</p>
       </div>

       <div class="left-content d-flex">
        <button class="btn delete-btn">Delete</button>
        <button class="btn edit-btn">Edit</button>
       </div>
    
    </div>
</div>

<div class="row">
    <div class="col-md-10 d-flex justify-content-between  box-container">
       <div class="">
        <h1 class="home">Home</h1>
        <p class="paragraph">Karantina, Jeddah, Saudi Arabia</p>
        <p class="sec-paragraph">Elnasr Street, apartment 5B, 3td floor, flat no:5</p>
        <p class="third-paragraph">+966 418 342 65</p>
       </div>

       <div class="left-content d-flex">
        <button class="btn delete-btn">Delete</button>
        <button class="btn edit-btn">Edit</button>
       </div>
    
    </div>
</div>