
    <div class="row">
      
        <div class="col-md-10" >
            <h1 class="loyality-heading" >Loyality Point </h1>
            <!-- <h1 class="loyality-heading" *ngIf="dir==='ltr'" style="direction: ltr;">{{"loyalityPoint"|translate}} </h1> -->

            <div class="loyality-container" style="direction:ltr;">
                <div class="point-container">
                    <div class="row all-data">
                        <div class="col-md-4 col-sm-12 all-data">
                            <h4 class="total-point">Total Point</h4>
                            <h1 class="point-price"> 26,345</h1>
                        </div>
                        <div class="col-md-4 col-sm-12 all-data">
                            <h4 class="balance-point">Balance</h4>
                            <h3 class="point-price">00 SR</h3>
                            
                        </div>
                        <div class="col-md-4 col-sm-12 all-data">
                            <img class="bag-img" src="../../../../../../assets/icon-images/shopping.svg">
                        </div>  
                    </div>
                </div>
                <!-- <div class="redeem-container d-flex justify-content-between">
                    <p class="redeem-paragraph">
                        You can use it in the promo code
                    </p>
                    <button class="btn reedem-btn" (click)="goToRedeemPoint()">Redeem</button>
                </div> -->
            </div>

                <div style="direction: ltr;" class="history-container">
                    <h1 class="history-heading">History</h1>
                                <div class="lo-point-value d-flex justify-content-between">
                                    <div class="right-one d-flex flex-column">
                                        <h1 class="value-price">3000 Point</h1>
                                        <p class="point-paragraph">Obtained from a purchase of 200 to order 1223425</p>
                                    </div>
                                    <h2 class="exp-date">Exp. 22/1/2023</h2>
                                </div>
                </div>
                <div style="direction: ltr;" class="history-container">
                    <h1 class="history-heading">History</h1>
                                <div class="lo-point-value d-flex justify-content-between">
                                    <div class="right-one d-flex flex-column">
                                        <h1 class="value-price">3000 Point</h1>
                                        <p class="point-paragraph">Obtained from a purchase of 200 to order 1223425</p>
                                    </div>
                                    <h2 class="exp-date">Exp. 22/1/2023</h2>
                                </div>
                </div>
                <div style="direction: ltr;" class="history-container">
                    <h1 class="history-heading">History</h1>
                                <div class="lo-point-value d-flex justify-content-between">
                                    <div class="right-one d-flex flex-column">
                                        <h1 class="value-price">3000 Point</h1>
                                        <p class="point-paragraph">Obtained from a purchase of 200 to order 1223425</p>
                                    </div>
                                    <h2 class="exp-date">Exp. 22/1/2023</h2>
                                </div>
                </div>
                <div style="direction: ltr;" class="history-container">
                    <h1 class="history-heading">History</h1>
                                <div class="lo-point-value d-flex justify-content-between">
                                    <div class="right-one d-flex flex-column">
                                        <h1 class="value-price">3000 Point</h1>
                                        <p class="point-paragraph">Obtained from a purchase of 200 to order 1223425</p>
                                    </div>
                                    <h2 class="exp-date">Exp. 22/1/2023</h2>
                                </div>
                </div>
        </div>

    </div>
