<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <button class="date-btn" (click)="onSlideClick('test')">
      Slide 1
    </button></ng-template
  >
  <ng-template carouselSlide>
    <button class="date-btn" (click)="onSlideClick('test')">Slide 2</button>
  </ng-template>
  <ng-template carouselSlide>
    <button class="date-btn" (click)="onSlideClick('test')">Slide 3</button>
  </ng-template>
  <ng-template carouselSlide>
    <button class="date-btn" (click)="onSlideClick('test')">Slide 4</button>
  </ng-template>
  <ng-template carouselSlide>
    <button class="date-btn" (click)="onSlideClick('test')">Slide 5</button>
  </ng-template>
  <ng-template carouselSlide>
    <button class="date-btn" (click)="onSlideClick('test')">Slide 6</button>
  </ng-template>
</owl-carousel-o>
