<div class="container d-flex justify-content-center">

    <div class="row s-details-container">
        <div class="col-md-12">
            <div class="upper-box d-flex justify-content-between">
                <h1 class="details-heading">Select Option</h1>
                <img src="../../../../../../../assets/icon-images/close.png">
            </div>
    
            <div class="down-box">
                <div class="first-content">
                    <h4 class="content-heading">Extra Option</h4>
                <div class="opt-container">
                    <div class="select-service d-flex justify-content-between">
                        <div class="right-service">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Classic manicure & predicure<br/>
                                      <img src="../../../../../../../assets/icon-images/clock.svg"> 40 m 
                                </label>
                              </div>
                        </div>
                        <div class="left-service">
                            <h3 class="price">77 SAR <br/>
                                <h3 class="line-through">99 SAR</h3>
                            
                            </h3>
                        </div>

                      </div>

                </div>
                <div class="opt-container">
                    <div class="select-service d-flex justify-content-between">
                        <div class="right-service">
                            <div class="form-check">
                                <input  checked class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Classic manicure & predicure<br/>
                                      <img src="../../../../../../../assets/icon-images/clock.svg"> 40 m 
                                </label>
                              </div>
                        </div>
                        <div class="left-service">
                            <h3 class="price">77 SAR <br/>
                                <h3 class="line-through">99 SAR</h3>
                            
                            </h3>
                        </div>

                      </div>

                </div>
                <div class="opt-container">
                    <div class="select-service d-flex justify-content-between">
                        <div class="right-service">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Classic manicure & predicure<br/>
                                      <img src="../../../../../../../assets/icon-images/clock.svg"> 40 m 
                                </label>
                              </div>
                        </div>
                        <div class="left-service">
                            <h3 class="price">77 SAR <br/>
                                <h3 class="line-through">99 SAR</h3>
                            
                            </h3>
                        </div>

                      </div>

                </div>
                </div>
          
            </div>
    
            <div class="btn-container d-flex justify-content-between">
                <div class="right-content">
                    <h1 class="total-price">200 SAR</h1>
                    <img src="../../../../../../../assets/icon-images/clock.svg"> 40 m 


                </div>
           <button class="btn">Book</button>
        </div>
    </div>
    </div>
    