<div class="row">
    <app-navbar></app-navbar>
    <div class="col-md-4 side-bar-container">
        <div class="right-content">
            <div class="upper-side-bar d-flex  justify-content-center">
                <img class="man" src="../../../../assets/john.png"/>
                <div class="secondary-bar-content d-flex flex-column">
                    <h3 class="user-name">User name</h3>
                    <h3 class="phone-no">(956) 255-9113</h3>
                </div>
            </div>

            <div class="down-side-bar d-flex justify-content-center">
                <ul class="ul">
                    <li class="list-group-item " ><a   routerLinkActive="active"  routerLink="/account/wallet"> Wallet & giftCard</a></li>
                    <li class="list-group-item "><a  routerLinkActive="active"  routerLink="/account/appointment">Appointments</a></li>
                    <li class="list-group-item"><a routerLinkActive="active"   routerLink="/account/fav">Favorites</a></li>
                    <li class="list-group-item"><a  routerLinkActive="active"  routerLink="/account/account-setting">Account Settings</a></li>
                    <li class="list-group-item"><a  routerLinkActive="active"  routerLink="/account/payment">Payments</a></li>
                    <li class="list-group-item"><a  routerLinkActive="active"  routerLink="/account/address">My Addresses</a></li>
                    <li class="list-group-item"><a  routerLinkActive="active"  routerLink="/account/loyality">Loyality Points</a></li>

                  </ul>
            </div>
        </div>
      </div>

      <div class="down-side-bar d-flex justify-content-center">
        <ul class="ul">
          <li class="list-group-item active">
            <a href="#" class=""> Wallet & giftCard</a>
          </li>
          <li class="list-group-item"><a href="#">Appointments</a></li>
          <li class="list-group-item"><a href="#">Favorites</a></li>
          <li class="list-group-item"><a href="#">Account Settings</a></li>
          <li class="list-group-item"><a href="#">Payments</a></li>
          <li class="list-group-item"><a href="#">My Addresses</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <router-outlet></router-outlet>
  </div>
</div>
