body {
  background-color: #f2f4f7 !important;
}
* {
  font-family: Poppins;
  padding-bottom: 13px;
}
body {
  background-color: #f2f4f7;
  overflow-x: hidden;
}
.signup-container {
  background-color: #fff;
  width: 456px;
  height: 457px;
  border-radius: 16px;
  opacity: 1;
  /* position: relative;
top:70px;
left:300px; */
  margin-top: 65px;
}

.signup {
  height: 100%;
  width: 100%;
}

.signup-heading {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-34) / var(--unnamed-line-spacing-41)
    var(--unnamed-font-family-rubik);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-1b1d1f);
  text-align: left;
  font-family: Rubik;
  font-weight: bold;
  letter-spacing: 0px;
  color: #1b1d1f;
  font-size: 34px;
  opacity: 1;
  padding-top: 60px;
  padding-left: 60px;
  margin-top: 50px !important;
}

.second-signup-heading {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
    var(--unnamed-line-spacing-21) var(--unnamed-font-family-rubik);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-3c3c4399);
  text-align: left;
  font: normal normal normal 16px/21px Rubik;
  letter-spacing: 0px;
  color: #3c3c4399;
  opacity: 1;
  padding-left: 60px;
  font-family: Rubik;
  font-weight: bold;
  font-size: 16px;
}
.btn-sumbit {
  display: flex;
  justify-content: center;
}
.country-container {
  width: 328px;
  height: 44px;
}

.signup-btn {
  background: var(--unnamed-color-111c4e) 0% 0% no-repeat padding-box;
  background: #111c4e 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;
  color: #fff;
  width: 328px;
  height: 48px;
  font-weight: bold;
  margin-top: -15px;
  font-size: 16px;
}
::placeholder {
  letter-spacing: 0px;
  color: #77797a;
  text-transform: uppercase;
  font-size: 14px;
}

.login-container {
  font: normal normal normal 13px/18px Rubik;
  letter-spacing: 0px;
  color: #3c3c4399;
  margin-left: 12px;
  font-family: Rubik;
  font-weight: bold;
  font-size: 16px;
  font-weight: bold;
  margin-top: 0px;
}

.form-control {
  background-color: #f2f4f7;
  margin-top: -23px;
}
.dropdown-toggle::after {
  display: none;
}

.login-link {
  letter-spacing: 0px;
  color: #1d1d1d;
  text-decoration: none;
  font-size: 13px;
}

.signup-heading {
  padding-top: 60px;
  padding-left: 60px;
  margin-top: 60px;
}

.second-signup-heading {
  margin-bottom: 30px !important;
}

.horizontal-divider {
  background-color: #f2f4f7;
  width: 320px;
  margin-left: 53px;
}

#login-sec {
  background-color: #f2f4f7;
  height: 100%;
}
.form-control {
  border-radius: 4px 4px 0px 0px;
  opacity: 1;
  height: 54px !important;
  margin-bottom: 8px;
}

@media (max-width: 575.98px) {
  input {
    width: 100% !important;
  }
  .SignUp,
  .form-control,
  .btn {
    width: 90%;
  }

  .signup {
    display: flex;
    justify-content: center;
  }
  .btn-sumbit {
    display: flex;
    justify-content: center;
  }
}
