<div class="container">
    <div class="summary-container">
        <div class="summary-upper">
            <h2 class="summary-heading">Summary</h2>
            <hr>
            <h2  class="professional"> Professional</h2>
        </div>

        <div class="secondary-upper-container">
            <div class="second-upper-container d-flex ">
                <img class="user" src="../../../../../../../assets/mariam.png">
                <div class="head-start  flex-column">
                    <h3 class="doris">Doris Foster</h3>
                    <p class="rating-yellow">
                        <img src="../../../../../../../assets/icon-images/star-rating.png"/>
                        6.63

                    </p>

                </div>
            </div>
            <div class="dating d-flex">
                <img class="date-img" src="../../../../../../../assets/icon-images/date.png">
                <h3 class="date-value">Sunday 28 JUN
                    <br>
                  <span class="time">
                    07:30 PM - 09:00 PM
                  </span> 
                </h3>

            </div>
            <div class="homing d-flex justify-content-between">
                <div class="">
                    <div class="d-flex ">
                        <img class="date-img" src="../../../../../../../assets/icon-images/home.png">

                     <h3 class="home-value">Home
                         <br>
                       <span class="address">
                         Karantina, Jeddah
                       </span> 
                     </h3>
     
     
     
                    </div>
                </div>

                <a  class="change-link"href="#">Change</a>

              
            

            </div>
            <hr/>
            <div class="services-container d-flex justify-content-between">
                <h3 class="service-heading">Services</h3>
                <a  class="service-link"href="#">add Service</a>

            </div>
            <div class="services-container d-flex justify-content-between">
                <div class="service-name-container">
                    <h2 class="service-name">Add Glitter</h2>
                    <div class="service-details-container d-flex">
                        <p class="sar-time"> 150SAR| <img src="../../../../../../../assets/icon-images/clock.svg"/>40m</p>

                    </div>
                </div>

                <a  class="change-link"href="#">Remove</a>

            </div>
            <div class="services-container d-flex justify-content-between">
                <div class="service-name-container">
                    <h2 class="service-name">Add Glitter</h2>
                    <div class="service-details-container d-flex">
                        <p class="sar-time"> 150SAR| <img src="../../../../../../../assets/icon-images/clock.svg"/>40m</p>

                    </div>
                </div>

                <a  class="change-link"href="#">Remove</a>

            </div>
            <hr>
            <div class="total-container">
                <div class="sub-total d-flex justify-content-between">
                    <h1 class="sub-total-heading">
                        Sub Total
                    </h1>
                    <h3 class="sar-pricing">300 SAR</h3>
                </div>
                <div class="sub-total d-flex justify-content-between">
                    <h3 class="sub-total-heading">
                        Service fee                    </h3>
                    <h4 class="sar-pricing">50 SAR</h4>
                </div>
                <div class="promo-container d-flex">
                 
                        <input  type="email" class="form-control" id="exampleFormControlInput1" placeholder="Redeem promo code">
                        <h1 class="dashed"></h1>
                        <button class="apply-btn"> Apply</button>
                     

                
                </div>
                <div class="pay-container d-flex justify-content-between">
                    <h1 class="over-total">Total: 200 SAR</h1>
                    <button class="pay-btn">Pay</button>

                    

            
            </div>
            </div>
        </div>
    
    </div>
</div>
