<section id="main-content">

    


<div class="container ">
    <div class="row">
        <div class="services-container">
            <div class="services-content">
                <h1 class="services-heading">Nails Services</h1>
                <p class="services-paragraph">About slaon, Lorem ipsum, or lipsum as it is sometimes known, is dummy
                    text used in laying out print, graphic or web designs. The<br>
                    passage to an unknown century who is thought to have scrambled parts of Cicero’s De Finibus Bonorum
                    et Malorum for use in a type<br /> specimen book</p>
            </div>
        </div>





    </div>
    <div class="row">
        <div class="col-md-12">
            <img class="services-img" src="../../../../assets/services group.png">
        </div>

        <div class="service-down-content">
            <div class="row">
                <div class="col-md-12  servicesx-container">
                    <h1 class="services-heading">Services</h1>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <nav class="navbar navbar-light bg-light">
                            <form class="form-inline d-flex">
                                <div class="input-group d-flex ">
                                    <div class="input-group d-flex">
                                            <img class="searching-img" src="../../../../../assets/icon-images/searching-icons.svg"/>
                                    </div>
                                    <input type="text" class="form-control search-btn" placeholder="Search,Service Name"
                                        aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </form>
                        </nav>

                        <div class="tabs-container"*ngFor="let s of category, let i = index" >
                            <ul class="nav  " >
                                <li class="nav-item">
                                    <a class="nav-link active" >{{s.Name}} {{s.Services.length}}</a>
                                </li>
                                <!-- <li class="nav-item">
                                    <a class="nav-link" href="#">Manicure and Pedicure</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Nail Polish</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Nail Installation</a>

                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Nail Removal</a>

                                </li> -->
                            </ul>
                        </div>
    

                     
                        <div class="select-service  d-flex justify-content-between">
                            <div class="right-service" >
                                <div class="form-check d-flex flex-column"*ngFor="let m of category[0].Services, let s = index">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                      {{m.Name}}  <br />
                                        {{m.BookingMinutes}} m <a href="#">{{m.Description}}</a>
                                    </label>
                                </div>
                            </div>
                            <div class="left-service ">
                                <div class="parent-div"*ngFor="let mm of category[0].Services, let n = index">
                                    <h3 class="price">{{mm.CurrentPriceWithTax}} SAR <br />
    
                                    </h3>
                                </div>
                              
                            </div>
                        </div>
                        <!-- <div class="select-service d-flex justify-content-between">
                            <div class="right-service">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Classic manicure & predicure<br />
                                        40 m <a href="#">Show Details</a>
                                    </label>
                                </div>
                            </div>
                            <div class="left-service">
                                <h3 class="price">77 SAR <br />
                                    <h3 class="line-through">99 SAR</h3>

                                </h3>
                            </div>

                        </div>
                        <div class="select-service d-flex justify-content-between">
                            <div class="right-service">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Classic manicure & predicure<br />
                                        40 m <a href="#">Show Details</a>
                                    </label>
                                </div>
                            </div>
                            <div class="left-service">
                                <h3 class="price">77 SAR <br />
                                    <h3 class="line-through">99 SAR</h3>

                                </h3>
                            </div>

                        </div>
                        <div class="select-service d-flex justify-content-between">
                            <div class="right-service">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Classic manicure & predicure<br />
                                        40 m <a href="#">Show Details</a>
                                    </label>
                                </div>
                            </div>
                            <div class="left-service">
                                <h3 class="price">77 SAR <br />
                                    <h3 class="line-through">99 SAR</h3>

                                </h3>
                            </div>

                    //</div> -->

                        <div class="d-flex justify-content-between">
                            <div class="right-content d-flex flex-column">
`       `                   <h2 class="total">Total</h2>
                            <h3 class="total-value total-vlaue"> 500 SAR</h3>
                            </div>
                           <button class="btn btn-cart"> Book Now</button>
                        
                        </div>
                        <hr/>
                    </div>
                    <div class="col-md-4">
                        <img class="leg-massage" src="../../../../../assets/leg-massage.png">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <h1 class="customer-reviews">
                            Customers <br />
                            Reviews
                        </h1>

                        <div class="rating-container d-flex">
                            <img class="" src="../../../../../assets/stars-rates.png">
                            <p class="rate-tag">3.7 out of 5 </p>
                        </div>
                        <div class="down-rating">
                            <h4 class="down-rate-heading">Based on 135 reviews</h4>
                        </div>

                        <div class="rating-bar d-flex">
                            <p class="five-star">5 Start</p>
                            <div class="progress-x">
                                <div class="progress">
                                    <div class="progress" style="width:246px">
                                        <div class="progress-bar" role="progressbar" style="width: 89%;"
                                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <h3 class="percentage">81%</h3>


                        </div>
                        <div class="rating-bar d-flex">
                            <p class="five-star">5 Start</p>
                            <div class="progress-x">
                                <div class="progress">
                                    <div class="progress" style="width:246px">
                                        <div class="progress-bar" role="progressbar" style="width: 89%;"
                                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <h3 class="percentage">81%</h3>


                        </div>
                        <div class="rating-bar d-flex">
                            <p class="five-star">5 Start</p>
                            <div class="progress-x">
                                <div class="progress">
                                    <div class="progress" style="width:246px">
                                        <div class="progress-bar" role="progressbar" style="width: 89%;"
                                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <h3 class="percentage">81%</h3>


                        </div>
                        <div class="rating-bar d-flex">
                            <p class="five-star">5 Start</p>
                            <div class="progress-x">
                                <div class="progress">
                                    <div class="progress" style="width:246px">
                                        <div class="progress-bar" role="progressbar" style="width: 89%;"
                                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <h3 class="percentage">81%</h3>


                        </div>
                        <div class="rating-bar d-flex">
                            <p class="five-star">5 Start</p>
                            <div class="progress-x">
                                <div class="progress">
                                    <div class="progress" style="width:246px">
                                        <div class="progress-bar" role="progressbar" style="width: 89%;"
                                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <h3 class="percentage">81%</h3>


                        </div>
                        <div class="rating-bar d-flex">
                            <p class="five-star">5 Start</p>
                            <div class="progress-x">
                                <div class="progress">
                                    <div class="progress" style="width:246px">
                                        <div class="progress-bar" role="progressbar" style="width: 89%;"
                                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <h3 class="percentage">81%</h3>


                        </div>
                        <hr/>

                        <div class="Review-services">
                            <h1 class="review-services-heading">Review services</h1>
                            <div class="img-plus-review d-flex" >
                                <img  class="rev-img"  src="../../../../../assets/madiha.png"/>
                                <p class="rev-paragraph">
                                    Share your thoughts <br/>
                                     with other customers
                                </p>
                            </div>
                        </div>

                        <div class="comment-container">
                            <div class="star-img-comment d-flex">
                                <img  src="../../../../../assets/empty-star.png" class="empty-star m-star"/>
                                <img src="../../../../../assets/empty-star.png" class="empty-star"/>
                                <img src="../../../../../assets/empty-star.png" class="empty-star"/>
                                <img src="../../../../../assets/empty-star.png" class="empty-star"/>
                                <img src="../../../../../assets/empty-star.png" class="empty-star"/>


                            </div>
                            <div class="text-area-container ">
                                <div class="form-floating ">
                                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                                    <label for="floatingTextarea2">Your review</label>
                                  </div>
                            </div>

                            <div class="upload-img-container">
                                <img class="upload-img" src="../../../../../assets/upload-img.png">
                                <p class="uplaoad-img-paragraph">
                                    Let other customer see your new look
                                </p>
                            </div>

                            <div class="submit-button-container text-center">
                                <button class="btn submit-review-btn">
                                    SUBMIT YOUR REVIEW

                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="review-comment-box">
                            <div class="client-container">
                                <div class="client-data">
                                    <div class="upper-data d-flex ">
                                        <img src="../../../../../assets/madiha.png">
                                        <div class="down-upper-content d-flex flex-column ">
                                            <h3 class="client-name">Sarah Ahmed</h3>

                                            <div class="rate-date d-flex">

                                                <img class="small-star" src="../../../../../assets/small-stars.png">
                                                <p class="date">Oct 23, 2022</p>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="down-data">
                                        <p data-paragraph>
                                            It is a long established fact that a reader will be distracted by the
                                            readable content of a page when looking at its layout. The point of using
                                            Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
                                            opposed to using ‘Content here, content here’, making it look like readable
                                            English. Many desktop publishing packages and web page editors now use Lorem
                                            Ipsum as their default model text, and a search for ‘lorem ipsum’ will
                                            uncover many web sites still in their infancy.
                                        </p>
                                    </div>
                                    <hr>
                                </div>
                                <div class="client-data">
                                    <div class="upper-data d-flex ">
                                        <img src="../../../../../assets/madiha.png">
                                        <div class="down-upper-content d-flex flex-column ">
                                            <h3 class="client-name">Sarah Ahmed</h3>

                                            <div class="rate-date d-flex">

                                                <img class="small-star" src="../../../../../assets/small-stars.png">
                                                <p class="date">Oct 23, 2022</p>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="down-data">
                                        <p data-paragraph>
                                            It is a long established fact that a reader will be distracted by the
                                            readable content of a page when looking at its layout. The point of using
                                            Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
                                            opposed to using ‘Content here, content here’, making it look like readable
                                            English. Many desktop publishing packages and web page editors now use Lorem
                                            Ipsum as their default model text, and a search for ‘lorem ipsum’ will
                                            uncover many web sites still in their infancy.
                                        </p>
                                    </div>
                                    <hr>
                                </div>
                                <div class="client-data">
                                    <div class="upper-data d-flex ">
                                        <img src="../../../../../assets/madiha.png">
                                        <div class="down-upper-content d-flex flex-column ">
                                            <h3 class="client-name">Sarah Ahmed</h3>

                                            <div class="rate-date d-flex">

                                                <img class="small-star" src="../../../../../assets/small-stars.png">
                                                <p class="date">Oct 23, 2022</p>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="down-data">
                                        <p data-paragraph>
                                            It is a long established fact that a reader will be distracted by the
                                            readable content of a page when looking at its layout. The point of using
                                            Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
                                            opposed to using ‘Content here, content here’, making it look like readable
                                            English. Many desktop publishing packages and web page editors now use Lorem
                                            Ipsum as their default model text, and a search for ‘lorem ipsum’ will
                                            uncover many web sites still in their infancy.
                                        </p>
                                    </div>
                                    <hr>
                                </div>
                                <div class="client-data">
                                    <div class="upper-data d-flex ">
                                        <img src="../../../../../assets/madiha.png">
                                        <div class="down-upper-content d-flex flex-column ">
                                            <h3 class="client-name">Sarah Ahmed</h3>

                                            <div class="rate-date d-flex">

                                                <img class="small-star" src="../../../../../assets/small-stars.png">
                                                <p class="date">Oct 23, 2022</p>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="down-data">
                                        <p data-paragraph>
                                            It is a long established fact that a reader will be distracted by the
                                            readable content of a page when looking at its layout. The point of using
                                            Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
                                            opposed to using ‘Content here, content here’, making it look like readable
                                            English. Many desktop publishing packages and web page editors now use Lorem
                                            Ipsum as their default model text, and a search for ‘lorem ipsum’ will
                                            uncover many web sites still in their infancy.
                                        </p>
                                    </div>
                                    <hr>
                                </div>
                                <div class="client-data">
                                    <div class="upper-data d-flex ">
                                        <img src="../../../../../assets/madiha.png">
                                        <div class="down-upper-content d-flex flex-column ">
                                            <h3 class="client-name">Sarah Ahmed</h3>

                                            <div class="rate-date d-flex">

                                                <img class="small-star" src="../../../../../assets/small-stars.png">
                                                <p class="date">Oct 23, 2022</p>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="down-data">
                                        <p data-paragraph>
                                            It is a long established fact that a reader will be distracted by the
                                            readable content of a page when looking at its layout. The point of using
                                            Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
                                            opposed to using ‘Content here, content here’, making it look like readable
                                            English. Many desktop publishing packages and web page editors now use Lorem
                                            Ipsum as their default model text, and a search for ‘lorem ipsum’ will
                                            uncover many web sites still in their infancy.
                                        </p>
                                    </div>
                                    <hr>
                                </div>
                                <div class="client-data">
                                    <div class="upper-data d-flex ">
                                        <img src="../../../../../assets/madiha.png">
                                        <div class="down-upper-content d-flex flex-column ">
                                            <h3 class="client-name">Sarah Ahmed</h3>

                                            <div class="rate-date d-flex">

                                                <img class="small-star" src="../../../../../assets/small-stars.png">
                                                <p class="date">Oct 23, 2022</p>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="down-data">
                                        <p data-paragraph>
                                            It is a long established fact that a reader will be distracted by the
                                            readable content of a page when looking at its layout. The point of using
                                            Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
                                            opposed to using ‘Content here, content here’, making it look like readable
                                            English. Many desktop publishing packages and web page editors now use Lorem
                                            Ipsum as their default model text, and a search for ‘lorem ipsum’ will
                                            uncover many web sites still in their infancy.
                                        </p>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>


            </div>
        </div>


    