.s-details-container{
    width:676px;
    height: 600px;
border-radius: 21px;
opacity: 1;
padding-top: 20px;
margin-top: 40px;
margin-top: -50px;
}

.upper-box{
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 20px 20px 0px 0px;
opacity: 1;
padding:30px;
}

.down-box{
    background: var(--unnamed-color-f6f9ff) 0% 0% no-repeat padding-box;
background: #F6F9FF 0% 0% no-repeat padding-box;
border-radius: 21px;
opacity: 1;
padding:30px;
}

.first-content{
    margin-top: 30px;
}

.btn-container{
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 20px 20px;
    opacity: 1;
    display: flex;
    justify-content: center;
}

.btn{
    width: 234px;
    height: 56px;
    /* UI Properties */
    background: var(--unnamed-color-111c4e) 0% 0% no-repeat padding-box;
    background: #111C4E 0% 0% no-repeat padding-box;
    border-radius: 28px;
    opacity: 1;
    color:#fff;
}

.line-through{
    text-decoration: line-through;

}

input[type="checkbox"]{
    width: 36px;
height: 36px;
/* UI Properties */
background: var(--unnamed-color-f6f9ff) 0% 0% no-repeat padding-box;
border: 1px solid var(--unnamed-color-e4e9f2);
background: #F6F9FF 0% 0% no-repeat padding-box;
border: 1px solid #E4E9F2;
border-radius: 10px;
opacity: 1;
margin-top: -3px;
margin-right: 10px;
}

.btn-container{
    margin-top: 20px;
}

.right-content{
    margin-left: 20px;
}

input:checked {
 background-color: #111C4E;
}

.total-price{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-arima-madurai);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-333333);
    text-align: right;
    font: normal normal bold 18px/22px Arima Madurai;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
}

.change{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-15)/27px Roboto;
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffb09a);
text-align: left;
text-decoration: underline;
font: normal normal normal 15px/27px Roboto;
letter-spacing: 0px;
color: #FFB09A;
opacity: 1;
}

.opt-container{
    margin-top: 20px;
}

.add-service{
margin-right: -10px;
text-decoration: none;
}

.form-control,.form-select{
    width: 616px;
height: 48px;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #E4E4E4;
border-radius: 9px;
opacity: 1;
margin-left: -15px;
margin-bottom: 10px;
}

.form-select{
    margin-left: -35px;
}

.secondary-heading{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-22) Helvetica Neue;
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font: normal normal normal 18px/22px Helvetica Neue;
letter-spacing: 0px;
color: #202830;
opacity: 1;
}

.col-md-4{
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
border: 2px solid var(--unnamed-color-ffb09a);
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 8px;
opacity: 1;
// padding-top: 20px;
// padding-bottom: 20px;
width: 154px;
margin-left: 20px;
height: 92px;
margin-bottom: 15px;
}

.col-md-4 img{
    margin-top: 28px;;
    margin-left: 23px;
}


.ex{
    width: 280px;
height: 56px;
}

label{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-16) var(--unnamed-font-family-rubik);
text-align: left;
font: normal normal normal 12px/16px Rubik;
letter-spacing: 0.4px;
color: #00000099;
opacity: 1;
font-size: 13px;
position: relative;
top: 38px;
margin-bottom: 20px;
}

.btn-back{
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
border: 1px solid var(--unnamed-color-111c4e);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #111C4E;
border-radius: 28px;
color:#111C4E;
opacity: 1;
}


::placeholder{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-rubik);
color: var(--unnamed-color-1b1d1f);
text-align: left;
font: normal normal normal 16px/24px Rubik;
letter-spacing: 0.15px;
color: #1B1D1F;
opacity: 1;
font-size: 16px;;
}

.secondary-heading{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-rubik);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-1b1d1f);
text-align: left;
font: normal normal normal 20px/24px Rubik;
letter-spacing: 0px;
color: #1B1D1F;
opacity: 1;
margin-bottom: 0px;
}