<div class="container d-flex justify-content-center">

    <div class="row s-details-container">
        <div class="col-md-12">
            <div class="upper-box d-flex justify-content-between">
                <h1 class="details-heading">Purchase Gift Card</h1>
                <img src="../../../../../../../assets/icon-images/close.png">
            </div>
    
            <div class="down-box">
                <div class="first-content">
                    <div class="row">
                        <div class="col-md-4 ">
                            <img src="../../../../../../../assets/visa.png">
                        </div>
                        <div class="col-md-4 ">
                            <img src="../../../../../../../assets/stc.png">

                        </div>
                        <div class="col-md-4 ">
                            <img src="../../../../../../../assets/apple.png">

                        </div>
                    </div>
       
             
                </div>
                <div class="input-content">
               
                </div>
          

                <div class="input-content">
                    <h2 class="secondary-heading">Add Card Information</h2>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">card Name</label>

                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Visa">
                      </div>
                      <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label"></label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Card Number">
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Expires</label>
                                <input type="text" class="form-control ex" id="exampleFormControlInput1" placeholder="MM YY">
                              </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">cvv/cvc</label>
                                <input type="text" class="form-control ex" id="exampleFormControlInput1" placeholder="9874">
                              </div>
                        </div>
                      </div>

        
                </div>
          
            </div>
    
            <div class="btn-container d-flex justify-content-between">
                <div class="right-content">
                    <button class=" btn btn-back">Back</button>


                </div>
           <button class="btn">Pay 65 SAR</button>
        </div>
    </div>
    </div>
    