<div class="container">


    <div class="redeem-point-cal">
    <div class="redeem-upper d-flex justify-content-between">
        <h1 class="redeem-heading ">
            Redeem Points
        </h1>
      
        <img class="close" src="../../../../../../assets/icon-images/xclose.svg"/>
    
      
    </div>  
    <hr/>
    <div class="redeem-content-cal justify-content-center ml-50px ">
        <h2 class="content-heading content-one text-center">
            Convert Points To Money
        </h2>
        <h4 class="first-paragraph text-center">26,345 Points</h4>
    
    </div>
    <div class="redeem-content-cal justify-content-center ml-50px ">
        <h2 class="content-heading text-center second-p">
            0.00 SR        </h2>
        <h4 class="first-paragraph text-center"> 0 POINT = </h4>
    
    </div>
    </div>
    
    </div>