<div class="row">
    <div class="col-md-12">
        <h1 class="appointment-heading">Appointments</h1>
    </div>

    <div class="row">
        <div class="col-md-10">
            <div class="next-appointment">
                <h5 class="next">Next Appointments</h5>
                <div class="appointment-container">
                    <div class="body-upper d-flex justify-content-between">
                        <div class="d-flex confirmed-container">
                            <img class="wman" src="../../../../../../assets/icon-images/wman.svg"/>
                            <p class="confirm">Confirmed</p>
            
                        </div>
        
                        <h1 class="date">03 <span class="month">/Nov</span></h1>
                    </div>
                    <div class="body-upper d-flex justify-content-between">
                        <h2 class="hair-cut">Hair cut</h2>
        
                        <h1 class="time">12 pm</h1>
                    </div>
                    <div class="body-upper d-flex justify-content-between">
                        <div class="d-flex flex-column ">
                            <h1 class="pname">Professional Name</h1>
                            <p class="naming">Alina M.</p>
            
                        </div>
        
                       <button class="cancel-btn">Cancel</button>
                    </div>
                </div>
             
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="next-appointment">
                <h5 class="next">Past Appointments</h5>
                <div class="appointment-container">
                    <div class="body-upper d-flex justify-content-between">
                        <div class="d-flex cancalled-container">
                            <img class="cancalled-img" src="../../../../../../assets/icon-images/Cancelled.svg"/>
                            <p class="canceled">canceled</p>
            
                        </div>
        
                        <h1 class="date">03 <span class="month">/Nov</span></h1>
                    </div>
                    <div class="body-upper d-flex justify-content-between">
                        <h2 class="hair-cut">Hair cut</h2>
        
                        <h1 class="time">12 pm</h1>
                    </div>
                    <div class="body-upper d-flex justify-content-between">
                        <div class="d-flex flex-column ">
                            <h1 class="pname">Professional Name</h1>
                            <p class="naming">Alina M.</p>
            
                        </div>
        
                       <button class="book-btn ">Book Again</button>
                    </div>
                </div>
             
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="next-appointment">
                <h5 class="next">Next Appointments</h5>
                <div class="appointment-container">
                    <div class="body-upper d-flex justify-content-between">
                        <div class="d-flex confirmed-container completed-c">
                            <img class="wman comp-img" src="../../../../../../assets/icon-images/Completed.svg"/>
                            <p class="confirm completed">Compeleted</p>
            
                        </div>
        
                        <h1 class="date">03 <span class="month">/Nov</span></h1>
                    </div>
                    <div class="body-upper d-flex justify-content-between">
                        <h2 class="hair-cut">Hair cut</h2>
        
                        <h1 class="time">12 pm</h1>
                    </div>
                    <div class="body-upper d-flex justify-content-between">
                        <div class="d-flex flex-column ">
                            <h1 class="pname">Professional Name</h1>
                            <p class="naming">Alina M.</p>
            
                        </div>
        
                        <button class="book-btn ">Book Again</button>
                    </div>
                </div>
             
            </div>
        </div>
    </div>

</div>