<section id="login-sec">
    <app-nav-auth></app-nav-auth>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="row SignUp">
            <div class="signup-container col-md-12  align-items-center
            ">
                <h1 class="signup-heading">Sign In</h1>
                <span class="second-signup-heading">Welcome Back</span>
                <div class="divider-container">
                    <hr class="horizontal-divider d-flex justify-content-center">
    
                </div>
                <div class="form-container d-flex justify-content-center">
                    <form [formGroup]="myForm" class="form-main" (ngSubmit)="onSubmit(myForm)">
                    
    
                          <div class="mb-3 col-md-12">
                            <!-- <label for="exampleFormControlInput1" class="form-label">phone number</label> -->
                            <input type="text"  formControlName="MobileNumber" class="form-control" id="exampleFormControlInput1" placeholder="phone number">
                          </div>
                          <button  type="submit" class="btn signup-btn">Sign In</button>
    
                          <div>
                            <h6 class="login-container">you have an Glamera account? <a class="login-link" href="#">Create one now</a></h6>
                          </div>
    
                    </form>
                </div>
         
            </div>
        </div>
    </div>
    
</section>



