   <div class="container">

   <div class="row">
        <h1 class="pay-heading">
            How would you like to pay?
        </h1>
    </div>
    <div class="row">
        
        <div class="col-md-5 col-sm-12">
            <div class="container d-flex justify-content-center">

                <div class="row s-details-container">
                    <div class="col-md-12">
                  
                
                        <div class="down-box">
                            <div class="first-content">
                                <div class="row">
                                    <div class="col-md-3 visa-container ">
                                        <img class="v-img first-img" src="../../../../../../../assets/cache.svg">
                                    </div>
                                    <div class="col-md-3 visa-container ">
                                        <img class="v-img second-img"  src="../../../../../../../assets/visa.png">
                                    </div>
                                    <div class="col-md-3 visa-container">
                                        <img class="v-img"  src="../../../../../../../assets/stc.png">
            
                                    </div>
                                    <div class="col-md-3 visa-container">
                                        <img class="v-img"  src="../../../../../../../assets/apple.png">
            
                                    </div>
                                </div>
                   
                         
                            </div>
                            <div class="input-content">
                           
                            </div>
                      
            
                            <div class="input-content">
                                <h2 class="secondary-heading">Add Card Information</h2>
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">card Name</label>
            
                                    <input type="text" class="form-control name" id="exampleFormControlInput1" placeholder="Visa">
                                  </div>
                                  <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label"></label>
                                    <input type="text" class="form-control no" id="exampleFormControlInput1" placeholder="Card Number">
                                  </div>
            
                                  <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="exampleFormControlInput1" class="form-label">Expires</label>
                                            <input type="text" class="form-control ex" id="exampleFormControlInput1" placeholder="MM YY">
                                          </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="exampleFormControlInput1" class="form-label">cvv/cvc</label>
                                            <input type="text" class="form-control ex" id="exampleFormControlInput1" placeholder="9874">
                                          </div>
                                    </div>
                                  </div>
            
                    
                            </div>
                      
                        </div>
                
                        <div class="btn-container d-flex justify-content-between">
                            <button class="btn book-btn">Add Card</button>
                    </div>
                </div>
                </div>
                
        </div>
     
    </div>
    <div class="col-md-7  col-sm-12 summary">
        <app-summary></app-summary>
    </div>
    
</div>