<div class="container d-flex justify-content-center">

<div class="row s-details-container">
    <div class="col-md-12">
        <div class="upper-box d-flex justify-content-between">
            <h1 class="details-heading">Classic manicure and pedicure</h1>
            <img src="../../../../../../../assets/icon-images/close.png">
        </div>

        <div class="down-box">
            <div class="first-content">
                <h4 class="content-heading">Description</h4>
                <p class="content">
                    Pellentesque tincidunt tristique neque, eget venenatis enim gravida quis. Fusce at egestas libero. Cras convallis egestas ullamcorper. Suspendisse sed ultricies nisl, pharetra rutrum mauris. Vestibulum at massa dui. Morbi et purus velit. Etiam tristique, justo eu condimentum efficitur, purus velit facilisis sem, id fringilla tortor quam quis dolor. Praesent ultricies dignissim ex, at volutpat sapien ullamcorper rhoncus.
                </p>
            </div>
            <div class="first-content">
                <h4 class="content-heading">Description</h4>
                <p class="content">
                    Pellentesque tincidunt tristique neque, eget venenatis enim gravida quis. Fusce at egestas libero. Cras convallis egestas ullamcorper. Suspendisse sed ultricies nisl, pharetra rutrum mauris. Vestibulum at massa dui. Morbi et purus velit. Etiam tristique, justo eu condimentum efficitur, purus velit facilisis sem, id fringilla tortor quam quis dolor. Praesent ultricies dignissim ex, at volutpat sapien ullamcorper rhoncus.
                </p>
            </div>
        </div>

        <div class="btn-container">
       <button class="btn">Book</button>
    </div>
</div>
</div>
