body{
    height:1400px;
}
.about-us-img{
width:100%;
}
.about-heading{
    color:#333333;
    font-size:50px;
    line-height: 1;
}

.about-container{
    margin-top: 40px;
}
.about-paragraph{
    color:#828894;
    font-size:15px;
}
.about-icons-container{
    margin-top: 50px;
}

.icon-img{
width:45%;
margin-bottom: 20px;
}

.main-heading{
    
}

.main-paragraph{
    color: #333333;
    font-size: 15px;
}
.main-paragraph{
    font-weight: bold;

}