
<div class="container">
    <div class="row about-container">
      <div class="col-md-6">
        <h1 class="about-heading">About File&<br />Style</h1>
        <p class="about-paragraph">
          Proin ac quam et lectus vestibulum blandit. Nunc maximus nibh at
          placerat tincidunt. Nam sem lacus, ornare non ante sed, ultricies
          fringilla massa. Ut congue, elit non tempus elementum, sem risus
          tincidunt diam, vitae sodales diam ipsum vitae purus. Fusce
          tristique erat nulla, vel viverra mi auctor non. Integer ante lorem,
          dictum at felis at, bibendum egestas augue. Aenean vestibulum lacus
          dolor, id tincidunt arcu pellentesque ut. Mauris sed venenatis diam,
          quis aliquam odio. Mauris lobortis augue placerat elit ultrices, non
          laoreet nunc semper. Phasellus dolor sapien, molestie at ante id,
          porta interdum nisl. Duis sit amet ante feugiat enim viverra
          sagittis. Sed vitae pulvinar augue. Donec sit amet dolor non velit
          tincidunt commodo.
        </p>
      </div>
      <div class="col-md-6">
          <img class="about-us-img" src="../../../../../assets/about-us-img.png">
      </div>
    </div>
    <div class="row about-icons-container">
      <div class="col-md-4">
          <img class="icon-img" src="../../../../../assets/icon-images/vision.png"/>
          <h1 class="main-heading">Our Vision</h1>
          <p class="main-paragraph">
            Proin ac quam et lectus vestibulum blandit. Nunc maximus nibh at placerat tincidunt. Nam sem lacus, ornare non ante sed, ultricies fringilla massa. Ut congue, elit non tempus elementum, sem risus tincidunt diam, vitae sodales diam ipsum vitae purus. Fusce tristique erat nulla, vel viverra mi auctor non. Integer ante lorem, dictum at felis at, bibendum egestas augue. Aenean vestibulum lacus dolor, id tincidunt arcu pellentesque ut. Mauris sed venenatis diam, quis aliquam odio. Mauris lobortis augue placerat elit ultrices, non laoreet nunc semper. Phasellus dolor sapien, molestie at ante id, porta interdum nisl. Duis sit amet ante feugiat enim viverra sagittis. Sed vitae pulvinar augue. Donec sit amet dolor non velit tincidunt commodo.
          </p>
      </div>
      <div class="col-md-4">
          <img class="icon-img" src="../../../../../assets/icon-images/target.png"/>
          <h1 class="main-heading">Our Mission</h1>
          <p class="main-paragraph">
            Proin ac quam et lectus vestibulum blandit. Nunc maximus nibh at placerat tincidunt. Nam sem lacus, ornare non ante sed, ultricies fringilla massa. Ut congue, elit non tempus elementum, sem risus tincidunt diam, vitae sodales diam ipsum vitae purus. Fusce tristique erat nulla, vel viverra mi auctor non. Integer ante lorem, dictum at felis at, bibendum egestas augue. Aenean vestibulum lacus dolor, id tincidunt arcu pellentesque ut. Mauris sed venenatis diam, quis aliquam odio. Mauris lobortis augue placerat elit ultrices, non laoreet nunc semper. Phasellus dolor sapien, molestie at ante id, porta interdum nisl. Duis sit amet ante feugiat enim viverra sagittis. Sed vitae pulvinar augue. Donec sit amet dolor non velit tincidunt commodo.
          </p>


      </div>
      <div class="col-md-4">
          <img class="icon-img" src="../../../../../assets/icon-images/jewlery.png"/>
          <h1 class="main-heading">Our Value</h1>
          <p class="main-paragraph">
            Proin ac quam et lectus vestibulum blandit. Nunc maximus nibh at placerat tincidunt.
             Nam sem lacus, ornare non ante sed, ultricies fringilla massa. Ut congue, elit non tempus elementum, 
             sem risus tincidunt diam, vitae sodales diam ipsum vitae purus. Fusce tristique erat nulla, 
             vel viverra mi auctor non. Integer ante lorem, dictum at felis at, bibendum egestas augue. Aenean vestibulum lacus dolor, id tincidunt arcu pellentesque ut. Mauris sed venenatis diam, quis aliquam odio. Mauris lobortis augue placerat elit ultrices, non laoreet nunc semper. Phasellus dolor sapien, molestie at ante id, porta interdum nisl. Duis sit amet ante feugiat enim viverra sagittis. Sed vitae pulvinar augue. Donec sit amet dolor non velit tincidunt commodo.
          </p>

      </div>
  
    </div>
  </div>


