<div class="row">
    <div class="col-md-10">
        <h1 class="booking-head">My booking</h1>
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">pending</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">done </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">cancalled</a>
            </li>
          
          </ul>

          <div class="down-content ">
            <div class="upper-one d-flex justify-content-between ">
              <div class="right-one d-flex">
                <div class="dot"></div>
                <h3> ID:5455222</h3>
              </div>
              <h3 class="pricing"><span class="price-no">300</span> SAR</h3>
            </div>
            <hr>

            <div class="down-one d-flex justify-content-between">
                <h2 class="Branch Name">Branch Name</h2>
                <div class="btn-container d-flex">
                    <button class="btn btn-cancel">Delete Order</button>
                    <button class="btn btn-reorder"> ReOrder</button>

                    <button class="btn btn-details" >Open Details</button>

                </div>
            </div>
            <div class="service-packages d-flex">
              <div class="d-flex">
                <h4 class="dot"></h4>
                <h3 > 3 Services</h3>
              </div>
              <div class="d-flex packages" >
                <h4 class="dot2"></h4>
                <h3 > 1 Packages </h3>
              </div>
            </div>
          </div>
    </div>
</div>