<app-navbar></app-navbar>

<div class="container ">
    <div class="row">
        <div class="">
            <div class="main-content">
                <h1 class="main-heading">Book The most trusted at-<br>home beauty service</h1>
           
                <div class="select-container col-md-6">
                    <select class="form-select form-select-lg mb-3"  aria-placeholder="select your location" aria-label=".form-select-lg example">

                        <option > 
                        Riydah Saudi Arabia
                        </option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                </div>
     
            </div>
            
        </div>

    </div>
    <div class="booking-container">


    <div class="row">
        <div class="col-md-12">
            <h1 class="booking-heading">Booking Easily</h1>
        </div>
    </div>
    <div class="row booking-card-container ">
        <div class="col-md-4">
            <img src="../../../../../assets/ticket-booking.svg"/>
            <h3 class="booking-section-heading">
                Competitive Pricing
            </h3>
            <p class="booking-section-paragraph">
                With hundreds of providers & <br> Thousands members
            </p>
        </div>
        <div class="col-md-4">
            <img src="../../../../../assets/date-booking.svg"/>
            <h3 class="booking-section-heading">
                Book 24/7            </h3>
            <p class="booking-section-paragraph">
                Book in anytime <br>, anywhere in few taps
                        </p>
        </div>
        <div class="col-md-4">
            <img src="../../../../../assets/easy-booking.svg"/>
            <h3 class="booking-section-heading">
                Easy booking
                        </h3>
            <p class="booking-section-paragraph">
                Few taps to make reservations,<br> with nearby professional stylists
                        </p>
        </div>
    </div>
</div>

<div class="fav-container">
    <div class="row">
        <div class=" col-md-12">
            <h1 class="fav-heading text-center">
                Enjoy all your favourite treatments <br/> at home
            </h1>
        </div>
        <div class="row fav-container">
            <div class=" col-sm-6 col-md-3 col-sm-6 fav-img-container">
                <a  href="#"><img class="img-fav" src="../../../../../assets/hand.png">
                </a>
                <h3 class="fav-img-heading">Nails</h3>

                
            </div>
            <div class=" col-sm-6 col-md-3 col-sm-6 fav-img-container">
                <a  href="#"><img  class="img-fav" src="../../../../../assets/spa.png"></a>
                <h3 class="fav-img-heading">Message</h3>

            </div>
            <div class="col-sm-6 col-md-3 col-sm-6 fav-img-container">
                <a  href="#"><img class="img-fav"   src="../../../../../assets/hair.png"></a>
                <h3 class="fav-img-heading">Hair</h3>

            </div>
            <div class="col-sm-6 col-md-3  col-sm-6 fav-img-container">
                <a  href="#"><img class="img-fav"   src="../../../../../assets/skin.png"></a>
                <h3 class="fav-img-heading">Skin Care</h3>

            </div>

        </div>
        <div class="row fav-container" style="margin-top:20px;">

            <div class=" col-sm-6 col-md-3 fav-img-container">
                <a  href="#"><img class="img-fav"  style="width:260px;" src="../../../../../assets/eye.png"></a>
                <h3 class="fav-img-heading">Eyebrown</h3>

            </div>
            <div class=" col-sm-6 col-md-3 fav-img-container">
                <a  href="#"><img class="img-fav"  style="width:260px;" src="../../../../../assets/mask.png"></a>
                <h3 class="fav-img-heading">Eyelashes</h3>

            </div>
            <div class=" col-sm-6 col-md-3 fav-img-container">
                <a  href="#"><img class="img-fav"  src="../../../../../assets/hand.png">
                </a>
                <h3 class="fav-img-heading">Nails</h3>

                
            </div>
            <div class=" col-sm-6 col-md-3 fav-img-container">
                <a  href="#"><img  class="img-fav"  s src="../../../../../assets/spa.png"></a>
                <h3 class="fav-img-heading">Message</h3>

            </div>
  

        </div>
    </div>

</div>

</div>
<div class="giftCard-container">
    <div class="row">
        <div class="col-md-6">
            <div class="gift-card-content-container">
                <h2 class="gift-card-heading">Gift Card</h2>
                <p class="gift-card-paragraph">Indulge your nearest and dearest with a gift card for luxury <br/>
                     salon & spa treatments at home.</p>
                     <p class="gift-card-all-paragraph">Our team of elite beauty professionals will travel to that special <br>
                        someone to treat them to a luxurious treatment of their choice.<br>
                         With home appointments from 6am – 10pm, its the perfect fail- <br>
                         safe gift for anyone who needs to be spoiled (don’t we all?!).</p>
            </div>

        </div>
        <div class="col-md-6">
            <div class="giftCard-img-container" >
                <img class="giftcard-img"src="../../../../../assets/home-img.png">
            </div>
        </div>
    </div>

</div>

<div class="container">
<div class="row">
    <div class="col-md-6 spa-container ">
        <div class="right-content-logo d-flex">
            <img src="../../../../../assets/file-style-logo-small.png">
            <h5 class="logo-content">File&Style Salon&Spa App iOS, Android</h5>
        </div>

<div class="salon-spa-home">
    <h1 class="salon-spa-heading">
        All-in-one File&style Salon&Spa app.
    </h1>
<p class="salon-spa-paragraph">
    Etiam convallis elementum sapien, a aliquam <br/> turpis aliquam vitae. Praesent sollicitudin felis vel mi facilisis posuere. Nulla 
    <br/>ultrices facilisis justo, non varius nisl semper vel.
</p>

<p class="salon-second-paragraph"> To receive a SMS with a link to download file&style app, Enter your phone. number t</p>
</div>
<div class="row">
    <div class="inpit-button d-flex col-md-12 ">



        <input class="form-control  country-input" 
        [ng2TelInputOptions]="{initialCountry: 'sa'}"
         type="text" ng2TelInput
                   (countryChange)="onCountryChange($event)" />
                   <button class="send-app-link">Send App Link</button>
       
       
               </div>
</div>


                <div class="app-store-container text-center">
        <h3 class="or-text ">OR</h3>
    </div>

    <div class="play-store d-flex justify-content-center ">
     
        <img class="app-img app-store" src="../../../../../assets/app-store.png">

        <img class="app-img" src="../../../../../assets/google-play .png">

        
    </div>
    </div>
       



<div class="col-md-6">
    <img class="mobile-back" src="../../../../../assets/mobile-back.png">
</div>
</div>

</div>

<div class="review-container">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <h1 class="review-heading">
                Our beloved customers
            </h1>
        </div>

  

    </div>
    <div class="row review-img-container">
        <div class=" col-md-12">
        <div class="rev-img-container d-flex justify-content-center">
            <img src="../../../../../assets/b-woman.png">
        </div>
        <div class="rev-img-container d-flex justify-content-center">
            <h1 class="user-name">User Name </h1>
        </div>
        <div class="rev-img-container d-flex justify-content-center">
            <img  class="star" src="../../../../../assets/star.png">
        </div>
        <div class="rev-img-container d-flex justify-content-center">
            <p class="review-paragraph">
                The book does not offer a lot of innovation on this <br>
                matter but it has good tips to develop habits and break <br>
                the bad ones.The book does not offer a lot of innovation <br>
                on this matter but it has good tips to develop habits<br>
                 and break the bad ones.The book does not offer a lot of <br>
                  innovation on this matter but it has good tips to <br>
                  develop habits and break the bad ones.
            </p>
        </div>
        <div class="rev-img-container d-flex justify-content-center">
            <p class="review-second-paragraph">
                3 months ago
            </p>
        </div>

        </div>

    </div>
</div>

<div class="container knowledge-container">
    <div class="row">
        <div class="d-flex justify-content-center col-md-12">
            <h1 class="knowledge-heading">
                knowledge of each new
            </h1>
        </div>
        <div class="row">
            <div class="col-md-12">
           <p class="knowledge-paragraph d-flex justify-content-center">
            Easy Beauty Tips to Improve Your Face, Skin and Hair
           </p>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="last-topics-container d-flex justify-content-around">
                <p class="last-topics-paragtaph">Last Topics</p>
                <p class="more-topics">More Topics</p>
            </div>
            
            <div class="photo-topics d-flex ">
                <img src="../../../../../assets/ssmasage.png">
                <div class="ss-massage-conrainer">
                    <p class="massage-paragraph">Use Vaseline for a smudge-free manicure.</p>
                </div>
            </div>
            <div class="photo-topics d-flex ">
                <img src="../../../../../assets/spa-massage.png">
                <div class="ss-massage-conrainer">
                    <p class="massage-paragraph">Use Vaseline for a smudge-free manicure.</p>
                </div>
            </div>
            <div class="photo-topics d-flex ">
                <img src="../../../../../assets/massage.png">
                <div class="ss-massage-conrainer">
                    <p class="massage-paragraph">Use Vaseline for a smudge-free manicure.</p>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="right-massage-container">
                <div class="row">
                    <div class="col-md-8">
                        <h3 aware-heading>Be aware of everything new</h3>
                        <div class="awar-input-button d-flex " >
                            <input placeholder="Type Your Email" class="form-control aware-input" type="text"/>
                            <button type="submit" class="btn aware-btn"> Subscribe</button>

                       
                        </div>
                            <p class="aware-email-paragraph">No spam messages or ads</p>

   
                    </div>
                    <div class="col-md-1">
                        <div class="vl"></div>

                    </div>
                        <div class="col-md-3">
                            <h5 class="jone-get">Jone To Get</h5>
                            <h5 class="jone-get">Last deals & offers from us</h5>
                            <h5 class="jone-get">Recipes for health care</h5>
                            <h5 class="jone-get">Easy Beauty Tips and more</h5>



                        </div>
                


                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>


