<div class="container d-flex justify-content-center">

    <div class="row s-details-container">
        <div class="col-md-12">
            <div class="upper-box d-flex justify-content-between">
                <h1 class="details-heading">Purchase Gift Card</h1>
                <img src="../../../../../../../assets/icon-images/close.png">
            </div>
    
            <div class="down-box">
                <div class="first-content">
                    <div class="row">
                        <div class="content text-center">
                            <h3 class="content-heading">Classic Manicure & Classic Pedicure - 65 SAR</h3>
                            <p class="content-paragraph">
                                Amber Cunningham has sent you a gift card to treat yourself to any of file & style Spa at-home treatments.
                            </p>
                        </div>
                        <hr>
                        <div class="content text-center">
                            <h3 class="content-heading">To redeem</h3>
                            <p class="content-paragraph">
                                To redeem your gift card, simply enter the code in your file&style Spa account on our app or website.                            </p>
                        </div>
                        <hr>
                        <div class="content text-center">
                            <h3 class="content-heading"></h3>
                            <p class="content-paragraph">
                                This gift card will be sent instantly by email to janet.garrett@mail.com
                            </p>
                        </div>

                    </div>
                    </div>
       
             
                </div>
        
          
            </div>
    
            <div class="btn-container d-flex justify-content-between">
                <div class="right-content">
                    <button class=" btn btn-back">Back</button>


                </div>
           <button class="btn">Book</button>
        </div>
    </div>
    </div>
    