<div class="main-content">
  <h1 class="account"> Account & Setting</h1>

  <div class="main-container">


<div class="row ">
    <div class="col-md-12">
    </div>
 
    
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <h3 class="account-details">Account Details</h3>
        <form>
          <div class="form-group d-flex ">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Full Name">
            <button class="btn edit-btn"> Edit</button>
          </div>
          <div class="form-group d-flex">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Email Address">
            <button class="btn edit-btn"> Edit</button>

          </div>
          <div class="form-group d-flex">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="phone-number">
            <button class="btn edit-btn"> Edit</button>

          </div>
        </form>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <h3 class="account-details">Address</h3>
        <form>
          <div class="form-group d-flex ">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder=" Address">
            <button class="btn edit-btn"> Edit</button>
          </div>
    
        </form>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <h3 class="account-details">Security and Privacy</h3>
        <form>
          <div class="form-group d-flex ">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Password">
            <button class="btn edit-btn"> Edit</button>
          </div>
          <div class="form-group d-flex">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Remove My Account">
            <button class="btn edit-btn"> Edit</button>

          </div>
     
        </form>
      </div>
    </div>
    
    <div class="row">

    </div>

  </div>
  
</div>